.footer {background: #555;border:1px solid #777777;}
.promo-text-footer {color: #eee;}
.contact-footer li {color: #ccc;}
.soc-footer li a {color: rgba(250,250,250,0.5);}
.footer-bottom {border-top: 1px solid #777;color: #ccc;}
.footer-bottom a {color: #ccc;}
.tags-footer li a {color: #ddd;background: rgba(250,250,250,0.25);}
.tags-footer li a:hover{background: rgba(250,250,250,0.5);color:#ddd;}
.foot_menu ul li a {color: #ccc;}
.soc-footer li a:hover{color:rgba(250,250,250,0.7);}